button{
    border: none;
    background: none;
    cursor: pointer;
}

.btn{
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: white;
    padding: 16px 40px;
    border-radius: 60px;
    background-color: $primary;
    transition: all 0.2s ease;

    &:hover{
        background-color: rgba($primary, .5);
    }

    &.btn-white{
        background-color: transparent;
        border: 2px solid $primary;
        color: $primary;

        &:hover{
            background-color: $primary;
            color: white,
        }
    }

    &.btn-small{
        padding: 8px 10px;
    }
}