.nft-price{
    display: flex;
    align-items: center;

    h5{
        margin-left: 10px;
    }
}

.main-collection-single{
    .top-collection-image{
        object-fit: cover;
        width: 100%;
        @include above(medium){
            width: auto;
        }
    }

    .top-collection-image-small{
        object-fit: cover;
        width: 100%;
        @include above(medium){
            width: 260px;
        }
    }

    .main-collection-single-infos{
        margin-top: 32px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .main-collection-single-image{
            display: flex;
            align-items: center;

            &>img{
                margin-right: 10px;
            }
        }
    }
}