@font-face {
    font-family: "Integral CF";
    src: url("@/assets/fonts/IntegralCF-Bold.woff2") format("woff2"),
        url("@/assets/fonts/IntegralCF-Bold.woff") format("woff");
    font-display: swap;
    font-weight: 700;
}

@font-face {
    font-family: "Integral CF";
    src: url("@/assets/fonts/IntegralCF-Medium.woff2") format("woff2"),
        url("@/assets/fonts/IntegralCF-Medium.woff") format("woff");
    font-display: swap;
    font-weight: 500;
}

@font-face {
    font-family: "Integral CF";
    src: url("@/assets/fonts/IntegralCF-Regular.woff2") format("woff2"),
        url("@/assets/fonts/IntegralCF-Regular.woff") format("woff");
    font-display: swap;
    font-weight: 400;
}


