h1{
    font-family: 'Integral CF', sans-serif;
    font-weight: 400;
    font-size: 40px;
    letter-spacing: 5%;
    -webkit-text-stroke: 1px black;
    font-display: swap;
}

h2{
    font-family: 'Integral CF', sans-serif;
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 5%;
    font-display: swap;

    span{
        font-weight: 400;
    }

    &.small{
        font-size: 28px;
    }

    @include above(small) {
        font-size: 35px;
    }
}

h3{
    font-family: 'DM Sans', sans-serif;
    color: white;
    font-size: 20px;
    font-weight: 700;
    font-display: swap;

    &.small{
        font-size: 20px;
    }

    @include above(small) {
        font-size: 28px;
    }
}

h4{
     font-family: 'DM Sans', sans-serif;
     color: white;
     font-size: 18px;
     font-weight: 700;
     font-display: swap;

    @include above(small) {
        font-size: 20px;
    }
}

h5{
     font-family: 'DM Sans', sans-serif;
     color: white;
     font-size: 16px;
     font-weight: 700;
     font-display: swap;

     span{
         font-weight: 400;
     }
}

p{
    font-family: 'DM Sans', sans-serif;
    line-height: 160%;
    font-weight: 400;
    font-size: 20px;
    color: $dark_gray;
    font-display: swap;
}

a{
    position: relative;

    &:before{
        content: "";
        width: 0;
        height: 2px;
        background-color: $primary;
        position: absolute;
        bottom: -5px;
        left: 0;
        transition: all 0.5s ease;
    }

    &:hover{
        &:before{
            width: 100%;
        }
    }
}

.black{
    color: black;
}

.white{
    color: white;
}

.purple{
    color: $primary;
}

.wBold{
    font-weight: 700;
}

.wMedium{
    font-weight: 500;
}

.wRegular{
    font-weight: 400;
}

.integralFont{
    font-family: 'Integral CF', sans-serif;
}

.small{
    font-size: 12px;
}

.medium{
    font-size: 14px;
}

.big{
    font-size: 18px;
}